# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor
/composer.lock

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# local phpunit config
/phpunit.xml
/.phpunit.cache
.phpunit.result.cache

# local tests configuration
/tests/data/config.local.php

# runtime cache
/tests/runtime
